@page "/"

<PageTitle>Index</PageTitle>

<style>
    .text-block {
        max-width: 800px;
        text-align: left;
    }
</style>


<h1>OW18B Bluetooth Multimeter Web Application</h1>


<div class="text-block">
    <p>
        Welcome to the OW18B Bluetooth Multimeter Web Application, your powerful companion for effortless measurement data analysis and visualization. This user-friendly tool is designed to streamline the process of reading and plotting measurement data from your OW18B multimeter, which comes equipped with Bluetooth Low Energy (BLE) connectivity for seamless data transfer.
    </p>
</div>
